//COLORS
$light-grey:#eee;
$grey:#ccc;
$dark-grey:#999;
$very-dark-grey:#555;


$green:green;
$light-green:#31c131;
$very-light-green:#67f167;

//$blue:#86B4D6;
//$very-ligh-blue:#c2daec;

$orange:#F4953F;
$orange-light:#f7a256;

$main-color:#616d75;



//FONTS
$font-size-xs:14px;
$font-size-s:16px;
$font-size:18px;
$font-size-l:20px;
$font-size-ll:30px;
$font-size-xl:40px;
$font-size-xxl:60px;


$font-family: 'Raleway', 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;


//DISTANCE
$header-height:100px;
$banner-height:350px;
$default-padding:20px;
$default-margin:$default-padding;
$margin-logo:$default-padding;
$default-radius:5px;
